manifest {
    name            = 'VariantFlowX'
    author          = 'Sriram B'
    homePage        = 'https://github.com/<your-github-username>/VariantFlowX'
    description     = 'Production-grade Nextflow DSL2 Germline Variant Calling Pipeline'
    nextflowVersion = '>=26.04.0'
}

params {
    outdir = "results"
}

includeConfig 'conf/base.config'
includeConfig 'conf/params.config'
includeConfig 'conf/resources.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    aws {
        includeConfig 'conf/aws.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.html"
}